<nav class="navbar navbar-static-top navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				neurral \\\ <b>leuzin</b>
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="dropdown-menu">
			<!-- add more li items if needed -->
			<li><a href="#">Account</a></li>
			<li><a href="#">Settings</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</div><!-- /.container-fluid -->
</nav>