
<!-- 
User: 
username,
first_name, 
mid_name, 
last_name,
email,
birthday,
cellphone_number,
telephone_number,
address,
date_start,
gender
-->

<div class="panel-body">
<div>
	<p>
		<b>Username: </b> {{user.username}}<br />
		<b>Email: </b> {{user.email}}<br />
		<b>Date Started: </b> {{user.date_start}}<br />
		<b>Type: </b> {{user.user_type}}<br />
		<b>Employment Status: </b> {{user.status}}
	</p>

	<form editable-form name="myform" onaftersave="updateUser()">

		<table class="table">
			<thead>
				<tr>
					<td colspan="2">
						<button type="button" class="btn btn-primary" ng-click="myform.$show()" ng-show="!myform.$visible">
							Edit Profile
						</button>
					</td>
				</tr>
			</thead>
			<tr>
				<td class="col-md-1"><p><b>First Name</b></p></td>
				<td><span  editable-text="user.first_name">{{ user.first_name || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Middle Name</b></p></td>
				<td><span  editable-text="user.mid_name">{{ user.mid_name || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Last Name</b></p></td>
				<td><span  editable-text="user.last_name">{{ user.last_name || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Birthday</b></p></td>
				<td><span  editable-bsdate="user.birthday" buttons="no" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="yyyy-MM-dd">{{ (user.birthday | date:"dd/MM/yyyy") || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Gender</b></p></td>
				<td><span  editable-text="user.gender">{{ user.gender || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Cellphone Number</b></p></td>
				<td> <span  editable-text="user.cellphone_number" e-pattern="\d{2}\-\d{3}\-\d{7}" e-title="63-917-1234567">{{ user.cellphone_number || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Telephone Number</b></p></td>
				<td> <span  editable-tel="user.telephone_number" e-pattern="\d{2}\-\d{1}\-\d{7}" e-title="63-2-1234567">{{ user.telephone_number || 'empty' }}</span></td>
			</tr>
			<tr>
				<td class="col-md-1"><p><b>Address</b></p></td>
				<td><span  editable-textarea="user.address" e-rows="3" e-cols="40"><pre>{{ user.address || 'empty' }}</pre></span></td>
			</tr>
		</table>

		<div>
			<span class="ng-hide" ng-show="myform.$visible">
				<button type="submit" class="btn btn-primary" ng-disabled="myform.$waiting">
					Save
				</button>
				<button type="button" class="btn btn-default" ng-disabled="myform.$waiting" ng-click="myform.$cancel()">
					Cancel
				</button>
			</span>
	</div>
</form>
<!--   <div>Email: <span  editable-email="user.email">{{ user.email || 'empty' }}</span></div>
<div>Tel: <span  editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</span></div>
<div>Number: <span  editable-number="user.number" e-min="18">{{ user.number || 'empty' }}</span></div>  
<div>Range: <span  editable-range="user.range" e-step="5">{{ user.range || 'empty' }}</span></div>  
<div>Url: <span  editable-url="user.url">{{ user.url || 'empty' }}</span></div>  
<div>Search: <span  editable-search="user.search">{{ user.search || 'empty' }}</span></div>  
<div>Color: <span  editable-color="user.color">{{ user.color || 'empty' }}</span></div>  
<div>Date: <span  editable-date="user.date">{{ (user.date | date: "yyyy-MM-dd") || 'empty' }}</span></div>
<div>Time: <span  editable-time="user.time">{{ (user.time | date: "HH:mm") || 'empty' }}</span></div>
<div>Datetime: <span  editable-datetime="user.datetime">{{ user.datetime || 'empty' }}</span></div>  
<div>Month: <span  editable-month="user.month">{{ (user.month | date: "yyyy-MM") || 'empty' }}</span></div>
<div>Week: <span  editable-week="user.week">{{ (user.week | date: "yyyy-Www") || 'empty'}}</span></div>
<div>Password: <span  editable-password="user.password">{{ user.password || 'empty' }}</span></div> -->
</div>

</div>
