
<!-- 
  User: 
        username,
        first_name, 
        mid_name, 
        last_name,
        email,
        birthday,
        cellphone_number,
        telephone_number,
        address,
        date_start,
        gender
      -->
<!-- <h1>User: {{user}}</h1> -->

<div class="panel-body">

<div>
  <p><b>Username: </b> {{user.username}}</p>
  <p><b>Type: </b> {{user.user_type}}</p>
  <p><b>Email: </b> {{user.email}}</p>
  <p><b>Date Started: </b> {{user.date_start}}</p>
  <p><b>Employment Status: </b> {{user.status}}</p>
  
  <table class="table">
    <tr>
      <td class="col-md-1"><p><b>First Name</b></p></td>
      <td><a href="#" editable-text="user.first_name">{{ user.first_name || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Middle Name</b></p></td>
      <td><a href="#" editable-text="user.mid_name">{{ user.mid_name || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Last Name</b></p></td>
      <td><a href="#" editable-text="user.last_name">{{ user.last_name || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Birthday</b></p></td>
      <td><a href="#" editable-bsdate="user.birthday" buttons="no" e-is-open="opened.$data" e-ng-click="open($event,'$data')" e-datepicker-popup="yyyy-MM-dd">{{ (user.birthday | date:"dd/MM/yyyy") || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Gender</b></p></td>
      <td><a href="#" editable-text="user.gender">{{ user.gender || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Cellphone Number</b></p></td>
      <td> <a href="#" editable-text="user.cellphone_number" e-pattern="\d{2}\-\d{3}\-\d{7}" e-title="63-917-1234567">{{ user.cellphone_number || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Telephone Number</b></p></td>
      <td> <a href="#" editable-tel="user.telephone_number" e-pattern="\d{2}\-\d{1}\-\d{7}" e-title="63-2-1234567">{{ user.telephone_number || 'empty' }}</a></td>
    </tr>
    <tr>
      <td class="col-md-1"><p><b>Address</b></p></td>
      <td><a href="#" editable-textarea="user.address" e-rows="3" e-cols="40"><pre>{{ user.address || 'empty' }}</pre></a></td>
    </tr>
  </table>
    
<!--   <div>Email: <a href="#" editable-email="user.email">{{ user.email || 'empty' }}</a></div>
  <div>Tel: <a href="#" editable-tel="user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">{{ user.tel || 'empty' }}</a></div>
  <div>Number: <a href="#" editable-number="user.number" e-min="18">{{ user.number || 'empty' }}</a></div>  
  <div>Range: <a href="#" editable-range="user.range" e-step="5">{{ user.range || 'empty' }}</a></div>  
  <div>Url: <a href="#" editable-url="user.url">{{ user.url || 'empty' }}</a></div>  
  <div>Search: <a href="#" editable-search="user.search">{{ user.search || 'empty' }}</a></div>  
  <div>Color: <a href="#" editable-color="user.color">{{ user.color || 'empty' }}</a></div>  
  <div>Date: <a href="#" editable-date="user.date">{{ (user.date | date: "yyyy-MM-dd") || 'empty' }}</a></div>
  <div>Time: <a href="#" editable-time="user.time">{{ (user.time | date: "HH:mm") || 'empty' }}</a></div>
  <div>Datetime: <a href="#" editable-datetime="user.datetime">{{ user.datetime || 'empty' }}</a></div>  
  <div>Month: <a href="#" editable-month="user.month">{{ (user.month | date: "yyyy-MM") || 'empty' }}</a></div>
  <div>Week: <a href="#" editable-week="user.week">{{ (user.week | date: "yyyy-Www") || 'empty'}}</a></div>
  <div>Password: <a href="#" editable-password="user.password">{{ user.password || 'empty' }}</a></div> -->
</div>

</div>
