<div class="page-header">
	<h2>Welcome to Leuzin </h2>
	<p> The core front-end for the Neurral System. </p>
</div>
<!-- 	<div class=" col-md-4">
		<div class="glass panel col-md-12">
			<div class="panel-heading">
				<h3>Getting Started</h3>
			</div>		
			<div class="panel-body">
				Lroem ipsum
			</div>	
		</div>
	</div>

	<div class=" col-md-4">
		<div class="glass panel col-md-12">
			<div class="panel-heading">
				<h3>Signup</h3>
			</div>		
			<div class="panel-body">
				Lroem ipsum
			</div>	
		</div>
	</div>

	<div class=" col-md-4">
		<div class="glass panel col-md-12">
			<div class="panel-heading">
				<h3>Follow up</h3>
			</div>		
			<div class="panel-body">
				Lroem ipsum
			</div>	
		</div>
	</div>
 -->