<nav class="navbar navbar-static-top navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<a class="navbar-brand" href="/">
				neurral \\\ <b>leuzin</b></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Menu 
							<!-- if logged in -->
						<!-- <span class="glyphicon glyphicon-eye-open"></span>
							if not logged in
							<span class="glyphicon glyphicon-eye-close"></span> -->
						<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<!-- add more li items if needed -->
				<li><a href="#">Account</a></li>
				<li><a href="#">Settings</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
		</li>
	</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>