

* {
	font-family: 'Open Sans Condensed', 'Arial-Narrow', sans-serif ;
}

a {
	cursor: hand;
	transition: all ease 0.3s;
}
a, a:hover, a:active, a:focus {
	outline: 0;
}

/* button effect for links*/
a:active:not(.navbar-brand) {
	position: relative;
	top: 1px;
	outline: 0px;
}


.container {
	padding-right:10px; 
	padding-left:10px;
}