

* {
	font-family: 'Open Sans', 'Arial', sans-serif ;
}

a {
	cursor: pointer;
	transition: all ease 0.3s;
}
a, a:hover, a:active, a:focus {
	outline: 0;
}

.panel-heading {
	font-size: 1.50em;
	text-shadow: 0px 1px 1px #fff;
}

/* button effect for links*/
a:active:not(.navbar-brand) {
	position: relative;
	top: 1px;
	outline: 0px;
}


/* default screen, non-retina */
html {
	background: url('../../assets/images/bg/plane970.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/images/bg/plane970@2x.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/images/bg/plane970@2x.jpg', sizingMethod='scale')";
}

/*Adjust image quality*/
@media only screen and (max-width: 320px) {
    /* Small screen, non-retina */
    html { background-image: url("../../assets/images/bg/plane290.jpg"); }
}
@media only screen and (min-width: 321px) and (max-width: 538px) {
    /* Medium screen, non-retina */
    html { background-image: url("../../assets/images/bg/plane538.jpg"); }
}
@media
	only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina */
    html { background-image: url("../../assets/images/bg/plane538.jpg"); }
}
@media
only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px) {
     /*Medium screen, retina */
    html { background-image: url("../../assets/images/bg/plane970.jpg"); }
}
@media
	only screen and (min-resolution: 2dppx) and (min-width: 539px) {
    /* Large screen, retina */
    html { background-image: url("../../assets/images/bg/plane970@2x.jpg"); }
}

.container,body {background-color:transparent;}

.container {
	padding-bottom: 90px; /*fix hidden content gap below fixed nav*/
	padding-right:10px; 
	padding-left:10px;
}

/* Background for Ui-View */
.container > .ng-scope > .panel {
	background: #fff;
    background:rgba(255,255,255,0.5);
	-webkit-box-shadow:1px 1px 60px 50px rgba(150,150,150,0.6) inset;
	-moz-box-shadow:1px 1px 60px 50px rgba(150,150,150,0.6) inset;
	-o-box-shadow:1px 1px 60px 50px rgba(150,150,150,0.6) inset;
    box-shadow:1px 1px 60px 50px rgba(150,150,150,0.6) inset;

/*    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);*/
}


/* Navbar Stuff */

#neurral-brand, .panel-heading, .input-group-addon {
	font-family: 'Open Sans Condensed', 'Arial-Narrow', sans-serif;
	font-weight: 700;
}
#neurral-brand {
	text-shadow: 0 1px 5px #000,
}
#neurral-sub {
	font-weight: normal;
	font-variant: small-caps;
	transition: all ease 0.3s;
}

#myNav:hover #neurral-sub {
	/*When hovering over the brand, change the sub-brand(leuzin) color*/
	color: #fff;
	text-shadow: 0 1px 3px #000, 0 0 20px #fff;
}

.navbar {
	background-color: #111;
	box-radius: 0px;
}


/* Spinning Loader */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
/* Loader spin wobble fix*/
.glyphicon-refresh.spinning { 
	transform-origin: 50% 50%; 
}

#loader .modal-body {
	font-size: 1.1em;
	text-align: center;
}



/* Loader Modal centered fix*/
#loader {
	width: 100%;
	background: #444;
	background: rgba(0,0,0,0.7);
}
#laoder .modal {
	border-radius: 10px;
}
#loader .modal-dialog {
	width: 100%;
    left: auto;
    margin-left:auto ;
    padding: 20px;
}
#loader .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  font-size: 1.5em;
}


/* Login form buttons*/
form .btn-block  {
	margin-bottom: 5px;
}