

* {
	font-family: 'Open Sans', 'Arial', sans-serif ;
}

a {
	cursor: pointer;
	transition: all ease 0.3s;
}
a, a:hover, a:active, a:focus {
	outline: 0;
}

/* button effect for links*/
a:active:not(.navbar-brand) {
	position: relative;
	top: 1px;
	outline: 0px;
}

/*fix hidden content below fixed nav*/
.container {
	 padding-bottom: 70px;
	padding-right:10px; 
	padding-left:10px;
}

#neurral-brand, .panel-heading, .input-group-addon {
	font-family: 'Open Sans Condensed', 'Arial-Narrow', sans-serif;
}
#neurral-sub {
	font-variant: small-caps;
}

.panel-heading {
	font-size: 1.50em;	
}

/* Spinning Loader */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
/* Loader spin wobble fix*/
.glyphicon-refresh.spinning { 
	transform-origin: 50% 50%; 
}

#loader .modal-body {
	font-size: 1.1em;
	text-align: center;
}

/* Loader Modal centered fix*/
#loader {
	width: 100%;
}
#loader .modal-dialog {
	width: 100%;
    left: auto;
    margin-left:auto ;
    padding: 20px;
}
#loader .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  font-size: 1.5em;
}